
h1, h2, h3, h4, h5, h6, span, small{
    color: var(--primary);
}

/* NAVBAR */
.menu-bar{
    background-color: var(--primary);
    padding-left: 8px;
    padding-right: 8px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navbar-brand, .nav-link{
    color: var(--txtClaro);
}
.navbar-brand:hover{
    color: var(--secondary);
}
.nav-link:hover{
    color: var(--secondary);
}
.navbar-toggler-icon{
    color: var(--txtClaro);
}
.navbar-toggler-icon i{
    font-size: 30px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
/* LISTA DE OFERTAS ***************************************************************************************/
.oferta{
    margin-bottom: 2%;
}
.oferta h5, h6{
    color: var(--txtClaro);
}
.oferta p{
    text-align: justify;
}
.oferta button{
    border-style: none;
    background-color: var(--secondary);
    padding: 1% 2% ;
    margin: 2%;
    border-radius: 5px;
    color: var(--txtClaro);
}
.oferta button i{
    font-size: 1.5em;
    color: var(--txtClaro);
}
.etiqueta{
    /* background-color: var(--secondary); */
    /* border: 3px solid var(--secondary); */
    border-radius: 10px;
}
.etiqueta .header{
    background-color: var(--secondary);
    border-radius: 10px 10px 0px 0px;
    padding: 3%;
    height: 70px;
}
.etiqueta .cuerpo{
    padding: 2%;
    border: 3px solid var(--secondary);
    border-radius: 0px 0px 10px 10px;
    height: 180px;
}
.etiqueta i{
    font-size: 3em;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    color: var(--txtClaro);
}
.etiqueta .link{
    text-decoration: none;
    text-transform: uppercase;
}
/* FIN LISTA OFERTAS  ***********************************************************************************/

/* INICIO LISTA PERSONAS  ***********************************************************************************/
.lista-personas {
    margin-top: 4%;
    padding: 0%;
}
.lista-personas img{
    padding: 0%;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.lista-personas .nombres-apellidos{
    padding: 0%;
}

/* FIN LISTA PERSONAS  ***********************************************************************************/

/* AÑADIR OFERTA *********************************************************************************************************************/
.main-añadir-oferta{
    padding: 7%;
    color: var(--primary);
}

.main-añadir-oferta .añadir-oferta-form .btnAddOferta{
    margin-top: 2%;
    border-style: none;
    color: var(--txtClaro);
    background-color: var(--primary);
    padding: 2%;
}

/* FIN AÑADIR OFERTA *********************************************************************************************************************/

/* SIDEBAR *****************************************************************************************************************************/
.sidebar{
    background-color: var(--primary);
    width: 200px;
    height: 100vh;
    position: fixed;
    padding-top: 7%;
}
.sidebar hr{
    background-color: var(--txtClaro);
}
.sidebar ul li{
    padding: 3% 3% 3% 7%;
}
.sidebar ul li a{
    color: var(--txtClaro);
    cursor: pointer;
    text-decoration: none;
}
.sidebar ul li:hover{
    background-color: var(--secondary);
}
.sidebar .cerrar-sesion{
    border-style: none;
    background-color: transparent;
    color: var(--txtClaro);
    padding: 0%;
}
/* FIN DEL SIDEBAR *****************************************************************************************************************************/

@media (max-width: 768px) {
    .oferta{
        padding: 5%;
    }
    .sidebar{
        margin-left: -200px;
    }
}