/*  */
/* MAIN SECTION *******************************************************************************/
.main-section{
    padding-top: 7%;
}
/* FIN MAIN SECTION *******************************************************************************/


/* LOGIN PAGE *******************************************************************************/
.mainlogin{
    padding-top: 7%;
    /* background-color: var(--secondary);
    height: 100vh; */
}
.mainlogin .row{
    margin: 0px;
}
.mainlogin .imagen{
    padding: 0%;
    height: 370px;
}
.mainlogin .imagen img{
    width: 100%;
}
.mainlogin .formulario{
    padding: 0%;
    background-color: var(--primary);
    height: 370px;
}
.login-form{
    padding: 3%;
}
.login-form h3{
    text-align: center;
    color: var(--txtClaro);
}
.login-form label{
    color: var(--txtClaro);
}
.login-form p{
    color: var(--txtClaro);
}
.login-form button{
    border-style: none;
    background-color: var(--secondary);
    padding: 1% 2% ;
    margin: 2%;
    border-radius: 5px;
    color: var(--txtClaro);
}
.login-form .link{
    text-decoration: none;
    color:var(--txtClaro);
    font-size: 1.3em;
}
.login-form .link:hover{
    color: var(--alert);
    font-size: 1.4em;
    border: 1px solid var(--alert);
    padding: 1.4%;
    border-radius: 10px;
}
/* FIN LOGIN PAGE *******************************************************************************/

/* PERFIL PAGE */
.main-perfil{
    padding-top: 7%;
    display: flex;
    justify-content: center;
}
.perfil{
    text-align: center;
}
.perfil img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
}
.perfil p{
    margin-bottom: 1%;
}
/* FIN PERFIL PAGE *******************************************************************************/

/* MAIN DASHBOARD *******************************************************************************/
.main-dashboard{
    padding-top: 7%;
}

/* FIN MAIN DASHBOARD *******************************************************************************/

/* OFERTA PAGE *******************************************************************************/
.main-oferta{
    padding-top: 10%;
}
.main-oferta .usuario{
    color: var(--primary);
}
.main-oferta p{
    color: var(--primary);
}
.body-oferta button{
    border-style: none;
    background-color: var(--secondary);
    padding: 1% 2% ;
    margin: 10px 10px 10px 1px;
    border-radius: 5px;
    color: var(--txtClaro);
    box-shadow: 0 7px #999;
}
.body-oferta button:active{
    box-shadow: 0 4px #666;
    transform: translateY(4px)
}
/* FIN OFERTA PAGE *******************************************************************************/

/* REGISTRO PAGE *******************************************************************************/
.main-registro{
    padding-top: 7%;
}
.main-registro .imagen{
    padding: 0%;
    height: 450px;
}
.main-registro .imagen img{
    width: 100%;
    height: 100%;
}
.main-registro .formulario{
    background-color: var(--primary);
    padding: 0%;
}
/* FIN REGISTRO PAGE *******************************************************************************/